.App {
  text-align: center;
}

.netflix-header{
  z-index: 1;
  position: relative;
  width: inherit;
  height: 0;
  top: 30px;
}
.background-grad{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%) !important;
  background: rgb(0 0 0 / 40%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-heading1{
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  position: relative;
  top: 150px;
}
.home-heading2{
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  position: relative;
  top: 250px;
}

.home-heading3{
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  position: relative;
  top: 270px;
}